<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.primedeym.shoppinglist">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".List.ListsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".List.ShoppingListActivity"
            android:parentActivityName=".List.ListsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Note.NoteActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Note.CreateNoteActivity"
            android:parentActivityName=".Note.NoteActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Note.NoteResultActivity"
            android:parentActivityName=".Note.NoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Note.NoteEditActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>